footer{
    background-color: black;
    color: #ffffffff;
    text-align: center;
    padding: 30px;
    margin-top: 20px;
}

h2{
    font-size: 3rem;
}

div{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}
div p{
    font-weight: normal;
}
p{
    font-weight: 100;
    margin-top:30px;
}