<header class="main-header">
    <div class="navbar">
        <div id="logo" class="brand">
            <img src="/img/logo-fondo-blanco.png" alt="logo NutriShare" />
            <h2>NutriShare</h2>
        </div>

        <nav class="nav-links">
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
            <a routerLink="/sobre-nosotros" routerLinkActive="active">Sobre nosotros</a>
            <a routerLink="/recetas" routerLinkActive="active">Recetas</a>
            <a routerLink="/productos" routerLinkActive="active">Productos</a>
        </nav>

        <div class="actions">
            @if (isLogged) {
            <a routerLink="/usuario" aria-label="Perfil" class="user-profile-link">
                <img src="/img/usuario.png" alt="usuario" />
                <span class="user-name">{{ userName }}</span>
            </a>
            } @else {
            <a routerLink="/login" aria-label="Perfil">
                <img src="/img/usuario.png" alt="usuario" />
            </a>
            }
            <a class="cart-link" routerLink="/carrito" aria-label="carrito">
                <img src="/img/carrito-de-compras.png" alt="carrito" />
            </a>
        </div>
    </div>
</header>