:host {
  display: block;
  min-height: 100vh;
  background: #c9ff63;
  padding: 28px 0;
}

/* Caja blanca grande */
#contenedor-detalle-recetas {
  width: 90%;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 32px;
  padding: 48px;
  min-height: calc(100vh - 56px);
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: 1.3fr 0.7fr;
  gap: 48px;
  align-items: start;
}

/* TÍTULO */
h1 {
  font-family: 'FuenteTitulos', serif;
  font-size: clamp(44px, 5vw, 72px);
  line-height: 1;
  margin: 0 0 24px 0;
  font-weight: 800;
}

.ficha-receta {
  display: grid;
  gap: 12px;
  margin-bottom: 22px;
}

/* IMAGEN */
.foto-receta {
  display: flex;
  justify-content: center;
  align-items: center;
}

.foto-receta img {
  width: min(280px, 38vw);
  height: min(280px, 38vw);
  border-radius: 999px;
  object-fit: cover;
  border: 6px solid #ffffff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.20);
}

/* INGREDIENTES */

h3 {
  font-family: 'FuenteCuerpo';
  font-weight: 800;
  margin: 18px 0 12px;
}

.lista-ingredientes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  gap: 20px;
  margin-bottom: 22px;
  justify-items: start;
  text-align: center;
}

.ingrediente {
  display: grid;
  justify-items: center;
  gap: 10px;
  text-align: center;
}

.ingrediente .circulo {
  width: 78px;
  height: 78px;
  border-radius: 999px;
  background: #e9e9e9;
  display: grid;
  place-items: center;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
}

.ingrediente img {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

.ingrediente span {
  font-size: 15 px;
  line-height: 1.2;
  max-width: 90px;
  word-break: break-word;

}

/* PASOS */
ol {
  margin-top: 10px;
}

ol p,
ol li {
  font-size: 15px;
  line-height: 1.45;
}

ol ul {
  padding-left: 18px;
  margin: 8px 0 0;
}

/* BOTÓN VOLVER */

button {
  background-color: black;
  color: #ffffff;
  border: none;
  border-radius: 2vw;
  padding: 10px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  font-family: 'FuenteTitulos', serif;
}

button:hover {
  background-color: #c1ff72;
  color: black;
}

