<div id="contenedor-detalle-recetas">
  <ng-container *ngIf="recetaSeleccionada; else noEncontrada">
    <div class="grid">
        
      <!-- CONTENIDO DE LA RECETA -->
      <div>
        <h1>{{ recetaSeleccionada.nombre }}</h1>

        <div class="ficha-receta">
          <p><strong>Cocina:</strong> {{ recetaSeleccionada.cocina }}</p>
          <p><strong>Categoría:</strong> {{ recetaSeleccionada.categoria }}</p>
          <p><strong>Dificultad:</strong> {{ recetaSeleccionada.dificultad }}</p>
          <p><strong>Tiempo de preparación:</strong> {{ recetaSeleccionada.tiempo_preparacion }}</p>
        </div>

        <h3>Ingredientes</h3>
        <div class="lista-ingredientes">
        <div class="ingrediente" *ngFor="let prod of ingredientesSeleccionados">
            <div class="circulo">
                <img [src]="prod.img" [alt]="prod.nombre" />
            </div>
            <span>{{ prod.nombre }}</span>
        </div>
        </div>


        <h3>Pasos</h3>
        <ol>
          <li *ngFor="let paso of recetaSeleccionada.pasos">
            {{ paso }}
          </li>
        </ol>

        <button type="button" (click)="volverAtras()">
          Volver
        </button>
        <!-- <button type="button" (click)="guardarFavorita"> -->
        <button type="button">
          Favorita
        </button>
      </div>

      <!-- IMAGEN DE LA RECETA -->
      <div class="foto-receta">
        <img
          [src]="recetaSeleccionada.img"
          [alt]="recetaSeleccionada.nombre"
        />
      </div>
    </div>
  </ng-container>

  <ng-template #noEncontrada>
    <div class="no-encontrada">
      <p>No se ha encontrado la receta.</p>
      <button class="btn-volver" type="button" (click)="volverAtras()">
        Volver
      </button>
    </div>
  </ng-template>
</div>
