html,
body {
  height: 100%;
  margin: 0;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  background: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}
