#productos{


}



#contenido{
    background-image: url('/img/fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 45vh;
    margin: 0 auto;
    margin-top: 20px;
    

}


#contenido h1{
    font-size: 5rem;
    color: #ffffffff;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.35);
    
}

#contenido #texto{
    width: 90%;
    margin: 0 auto;
    background-color: transparent;
    
}

#contenido div{
    background-color: #C1FF72;
    padding: 30px;
    width: 50%;
    border-radius: 2vw;
}

#productosnaturales{
    background-color: black;
    color: #ffffffff;
    text-align: center;

    
}

/*ESTILOS DE LA TARJETA DE CADA PRODUCTO*/

#contenedorProductos{

    margin-top: 20px;
    display: grid;                 
    grid-template-columns: repeat(auto-fit, minmax(250px, auto)); 
    /*Esto lo he usado porque sino no conseguia que quedase centrado y que ocupase un espacio determinado*/
    /*Si no lo usaba quedaba centrado pero sin margenes*/
    column-gap: 50px;
    row-gap: 50px;
    justify-content: center;
    align-items: center;

}

.cardProductos{

    width: 100%;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5%;
    text-align: center;


}

.cardProductos img{
    border-radius: 50%;
    height: 10vw;
    width: 10vw;
}

button{
    background-color:#D9D9D9;
    border: none;
    border-radius: 2vw;
    padding: 10px;
    margin-top: 10px;
    font-family: 'FuenteTitulos', serif;
}

button:hover{
    background-color: black;
    color: #ffffff;
}

.precio{
    color: #6a6666;
}