name: Deploy Angular to VPS (Apache)

on:
  push:
    branches: ['main']

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm ci

      - name: Build project
        run: npm run build -- --configuration production --base-href /

      - name: Inspect dist structure
        run: |
          echo "Comprobando carpetas generadas en dist:"
          ls -R dist

      - name: Deploy via rsync
        uses: burnett01/rsync-deployments@7.0.1
        with:
          switches: -avzr --delete
          # El asterisco busca la carpeta del proyecto y entra hasta los archivos
          path: dist/*/browser/
          remote_path: /var/www/html/proyecto-angular-final/
          remote_path: ${{ secrets.VPS_PATH }}
          remote_host: ${{ secrets.VPS_HOST }}
          remote_user: ${{ secrets.VPS_USER }}
          remote_key: ${{ secrets.VPS_SSH_KEY }}
